[DEFAULT]
notification_driver = noop
bind_host = {{ glance_service_bind }}
bind_port = {{ glance_service_port }}
log_file = /var/log/glance/api.log
backlog = 4096
registry_host = {{ glance_registry_service_bind }}
registry_port = {{ glance_registry_service_port }}

delayed_delete = False
scrub_time = 43200
scrubber_datadir = /var/lib/glance/scrubber
image_cache_dir = /var/lib/glance/image-cache/

[database]
connection = mysql://{{ glance_database_user }}:{{ glance_database_password }}@{{ openstack_database_server }}/{{ glance_database_name }}
backend = sqlalchemy

[keystone_authtoken]
auth_uri = {{ openstack_keystone_publicuri }}
auth_url = {{ openstack_keystone_adminuri }}
auth_plugin = {{ glance_keystone_auth_plugin }}
project_domain_id = default
user_domain_id = default
project_name = {{ glance_service_identity_admin_project }}
username = {{ glance_service_identity_name }}
password = {{ glance_service_identity_password }}

[paste_deploy]
flavor = keystone

[glance_store]
default_store = {{ glance_default_store }}
{% if glance_default_store == "file" %}
stores=glance.store.filesystem.Store,glance.store.http.Store
filesystem_store_datadir = {{ glance_filestore_datadir }}
{% endif %}